<%- include('./Partials/head.ejs') %>


  <div class="container pt-5">

    <h1 class="my-4 pt-5">My Product Cart</h1>



    <!-- Add more product cards here -->
    <div class="row">
      <% CartProudcts.forEach(function(CartProudct) { %>
        <% Allproducts.forEach(function(product) { %>
          <% if (CartProudct.productId===product.id) { %>
            <div class="col-3 ">
              <div class="card mb-4 m-1 ">
                <img src="<%= product.image %>" class="card-img-top" alt="Product Image">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= product.name %>
                  </h5>
                  <p class="card-text">
                    <%= product.description %>
                  </p>
                  <p class="card-text">
                    <strong>
                      <%= product.price %>
                    </strong>
                  </p>
                  <button type="button" class="btn btn-danger"  onclick='deleteOrder(<%= product.id %>)' data-toggle="modal" data-target="#deleteProductModal1">
                    Delete
                  </button>
                </div>
              </div>

            </div>
            <% } %>
              <% }) %>
                <% }) %>

                  <!-- <div class="col-md-6"> -->
                  <!-- </div> -->
    </div>
  </div>

  <script>
    function deleteOrder(id) {
      const deleteReq = fetch("/cart/" + id, { method: "DELETE" })
        .then((response) => {
          if (response.status === 204) {
            location.reload()
            alert("Order deleted successfully");
          } else {
            return response.json();
          }
        })
        .then((data) => {
          if (data) {
            console.log(data.msg);
          }
        })
        .catch((err) => console.log(err.message));
    }
  </script>
  <%- include('./Partials/foot.ejs') %>