<style>
  .product-img {
    border: solid 1px gray;
  }

  .lyer2 {
    position: absolute;
    color: #f33f3f;
    z-index: -1;
    transform: translate(3px, -40px);
    /* translate: ; */
  }

  .description {
    height: 50px;
    overflow: hidden;
  }

  .price {
    color: brown;
    /* margin-top: 10px; */
    position: absolute;
    transform: translate(270px, 10px);
  }
</style>

<%- include('./Partials/header.ejs') %>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">online store</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Products</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Dashboard</a></li>
          <li><a href="/card"><span class="glyphicon glyphicon-log-in"></span> Cart</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- User Posts Section -->
  <div class="" style="height: 100vh; background-image: url('/style_products/images/slide_03.jpg');">

  </div>
  <section class="container pt-5">
    <h2 style="z-index: 4;">Our Products</h2>
    <h2 class="lyer2">Our Products</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="filters-content">
          <div class="row grid">
            <% products.forEach(function(product) { %>
              <div class="col-lg-4 col-md-4 all des">
                <div class="product-item">
                  <a href="/product_details/<%= product.id %>"><img src='<%= product.Image %>'></a>
                  <div class="down-content">
                    <a href="/product_details/<%= product.id %>">
                      <h4>
                        <%= product.name %>:
                      </h4>
                    </a>
                    <h6>
                      <%= product.price %>
                    </h6>
                    <p class="description">
                      <%= product.description %>
                    </p>
                    <a href="/product_details/<%= product.id %>">View Details</a>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <%- include('./Partials/footer.ejs') %>