<%- include('./Partials/head.ejs') %>

<div class="pt-5"></div>
<h1 class="pt-5">Product Details Page</h1>
<h2 style="height : 100px"><%= product.name %></h2>
<h2 style="height : 100px"><%= product.description%></h2>
<h2 style="height : 100px"><%= product.price%></h2>
<!-- <h2 style="height : 100px"><%= product.name %></h2> -->

<%- include('./Partials/foot.ejs') %>